################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebCustomerRelationManagement/v15/Server/sqlite3
.vs/WebCustomerRelationManagement/DesignTimeBuild/.dtbcache
.vs/WebCustomerRelationManagement/DesignTimeBuild/.dtbcache
.vs/WebCustomerRelationManagement/v16/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/WebCustomerRelationManagement/v16/Server/sqlite3/storage.ide
.vs/WebCustomerRelationManagement/v16/.suo
.vs/WebCustomerRelationManagement/v16/Server/sqlite3/storage.ide
