<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MonkeyCRMEntities" connectionString="metadata=res://*/MonkeyCRM.csdl|res://*/MonkeyCRM.ssdl|res://*/MonkeyCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Desktop-n8fhtdg;initial catalog=MonkeyCRM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="MonkeyCRMConfigEntities" connectionString="metadata=res://*/MonkeyCRMConfig.csdl|res://*/MonkeyCRMConfig.ssdl|res://*/MonkeyCRMConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N8FHTDG;initial catalog=MonkeyCRMConfig;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>